
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Song List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
        }
        .mt-5 {
            color: #007bff;
        }
        .mt-4 {
            list-style-type: none;
            padding: 0;
        }
        .mb-3 {
            margin-bottom: 10px;
            background-color: #ffffff;
            padding: 15px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body>
    {% extends 'base.html' %}

    {% block content %}
    <div class="container">
        <h4 class="mt-5">Song List</h4>
        <ul class="mt-4">
            {% for song in songs %}
                <li class="mb-3 p-4">
                    <a href="{% url 'song_detail' song.id %}" class="text-dark">
                        <strong>{{ song.title }}</strong> - {{ song.artist }}
                    </a>
                    <span class="float-right">
                        <a href="{% url 'edit_song' song.id %}" class="btn btn-sm btn-primary mr-2">Edit</a>
                        <a href="{% url 'delete_song' song.id %}" class="btn btn-sm btn-danger">Delete</a>
                      </span>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% endblock %}
</body>
</html>
